@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    width: 100%;
}

.headerhero {
    background-image: url(./images/heroBack.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 2rem;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 2rem;
}

li {
    list-style: none;
    color: white;
    font-family: Montserrat;
}

.btn button {
    background: rgba(27, 199, 104,1);
    font-family: Montserrat; 
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    border: none;
    padding: .5rem 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    color: white;
}

.hero {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    /* margin-bottom: -.3rem; */
}

.heroText h2{
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 45.57px;
    color: white;
    margin-top: 5rem;
}

.heroText p{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 24.59px;
    color:white;
    padding: 1rem 0;
}

.heroImage{
    margin-top: .1rem;
}

.heroText{
    width:40%;
    margin-top: 2rem;
}

.heroImage img{
    width: 100%;
    margin-top: 6rem;
}

.heroBtn button{
    font-family: montserrat;
    font-size: 16px;
    border: 1px solid white;
    padding: .5rem 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    background: none;
    color: white;
    margin-right: 1.1rem;
}

.heroBtn button:hover{
    background: white;
    color: blue;
}

.heroBtn{
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.heroForm{
    width: 100%;
}

.heroForm input{
    width: 70%;
    padding: .7rem;
    border: none;
    border-radius: 50px 0px 0px 50px;
}

.heroForm button{
    width: 20%;
    padding: .7rem;
    background:rgba(27, 199, 104,1);
    color: white;
    cursor: pointer;
    border:rgba(27, 199, 104,1);
    margin-left: -.3rem;
    border-radius: 0px 50px 50px 0px; 
}


.innerContainer{
    width: 80%;
    margin: auto;
}

.affiliation{
    text-align: center;
    margin-top: 3rem;
}


.topAffiliate h2{
    font-family: Montserrat;
    font-size: 36px;
    line-height: 49.18px;
    color: rgba(4, 60, 170,1);
}

.lines{
    display: flex;
    width: 10%;
    margin: auto;
}

.blue{
    width: 45.5px;
    border:2px solid rgba(4, 60, 170,1);
    border-radius: 50px 0 0 50px;
}

.green{
    width: 45.5px;
    border:2px solid rgba(27, 199, 104,1);
    border-radius: 0 50px 50px 0;
}

.affiliateImages{
    display: flex;
    gap: 5rem;
    width: 40%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.juhel img {
    width: 100%;
}

.emzor img {
    width: 100%;
}

.gsk img {
    width: 100%;
}

.topBenefits h2{
    font-family: Montserrat;
    font-size: 36px;
    line-height: 49.18px;
    color: rgba(4, 60, 170,1);
    text-align: center;
}

.medicine{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option{
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-top: 1rem;
}

.optionText p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
}

.medicineText h5{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 800;
    line-height: 32.78px;
    color: rgba(4, 60, 170,1);
    width: 60%;
    padding-bottom: 1rem;
}

.GetBtn button{
    display: flex;
    font-family: montserrat;
    font-size: 16px;
    border: 1.5px solid #1BC768;
    padding: .5rem 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    background: none;
    color: #1BC768;
    margin-bottom: 8rem;
}

.medicineText button{
    font-family:montserrat;
    font-size: 18px;
    font-weight: 500;
    color: #1BC768;
    padding: 1rem 2rem;
    border: 1px solid #1BC768;
    background: transparent;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 2rem;

}
.medicineText button:hover{
    background: #1BC768;
    color: white;

}







.bike{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bikeoption{
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-top: 1rem;
}

.bikeoptionText p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
}

.bikeText h5{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 800;
    line-height: 32.78px;
    color: rgba(4, 60, 170,1);
    width: 60%;
    padding-bottom: 1rem;
}

.GetBtn button{
    display: flex;
    font-family: montserrat;
    font-size: 16px;
    border: 1.5px solid #1BC768;
    padding: .5rem 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    background: none;
    color: #1BC768;
    margin-bottom: 8rem;
}

.bikeText button{
    font-family:montserrat;
    font-size: 18px;
    font-weight: 500;
    color: #1BC768;
    padding: 1rem 2rem;
    border: 1px solid #1BC768;
    background: transparent;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 2rem;

}
.bikeText button:hover{
    background: #1BC768;
    color: white;

}





.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileOption{
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-top: 1rem;
}

.profileOptionText p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
}

.profileText h5{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 800;
    line-height: 32.78px;
    color: rgba(4, 60, 170,1);
    width: 60%;
    padding-bottom: 1rem;
}

.GetBtn button{
    display: flex;
    font-family: montserrat;
    font-size: 16px;
    border: 1.5px solid #1BC768;
    padding: .5rem 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    background: none;
    color: #1BC768;
    margin-bottom: 8rem;
}

.profileText button{
    font-family:montserrat;
    font-size: 18px;
    font-weight: 500;
    color: #1BC768;
    padding: 1rem 2rem;
    border: 1px solid #1BC768;
    backgrOund: transparent;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 2rem;

}
.profileText button:hover{
    background: #1BC768;
    color: white;

}


.drug{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;

}
.line{
    display: flex;
    width: 40%;
    margin: auto;
}
.drugText h2{
    color: rgba(4, 60, 170,1);;
    font-family: montserrat;
    font-size: 36px;
    line-height: 49.18px;
    padding-bottom: .5rem;
   
}
.drugText p{
    font-family: montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height:24.59px;
    padding: 2rem 0 1rem 0;
    width: 90%;
    color: #7A7A7A;
    ;
}

.drugText h5{
    font-family: montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 32.4px;
    color:rgba(4, 60, 170,1);
    padding-bottom: 2rem;

}
.drugImage img{
    width: 100%;
}
.drugImage{
    width: 50%;
}
.drugText{
    width: 40%;
}

footer{
    background:#043CAA;
    margin-top: 5rem;
}
.footContainer{
    width: 80%;
    margin: auto;
   padding-bottom: 1rem;
   padding-top: 4rem;
}
.signup{
    display: flex;
    justify-content: space-between;
}
.signupText h3{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 32.78px;
    color: white;
    padding-bottom: 1rem;
}
.signupText p{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 200;
    line-height: 24.59px;
    color: white;

}

.signupInput input{
    padding: .7rem;
    border: none;
    border-radius: 50px 0px 0px 50px;
    width: 70%;
    margin-top: 1rem;
}

.signupInput button{
    width: 30%;
    padding: .7rem;
    background:rgba(27, 199, 104,1);
    color: white;
    cursor: pointer;
    border:rgba(27, 199, 104,1);
    margin-left: -.3rem;
    border-radius: 0px 50px 50px 0px;
    font-family: Montserrat;
}

.signupInput label{
    font-family:Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.59px;
    color: white;
   

}
.signupText{
    width: 40%;
}

.signupInput{
    width: 40%;
}

.footContact{
    display: flex;
    margin-top: 5rem;    
}

.serviceSide{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.logoSide{
    width: 40%;
}
.logoSide p{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.59px;
    width: 60%;;
    color: white;
    padding-bottom: 1rem;
}

.serviceSide h4{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 32.78px;
    color: white;
    padding-bottom: 1rem;
}

.serviceSide li{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 32.78px;
    color: white;
    padding-bottom: 0.7rem;
}

.copyRight{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 32.78px;
    color: white;
    padding-top: 2rem;
    text-align: center;
}



@media screen and (max-width: 1024px){
    .heroText h2{
        font-size: 35px;
        font-weight: 600;
        line-height: 45.57px;
        margin-top: 5rem;
    }
    
    .heroText p {
        font-size: 15px;
        font-weight: 400;
        line-height: 24.59px;
        padding: 1rem 0;
    }

    .heroText{
        width:50%;
        margin-top: 2rem;
    }

    .affiliateImages{
        gap: 5rem;
        width: 60%;
    }

    .medicineText h5{
        width: 70%;
    }

    .optionText p{
        font-size: 16px;
    }

    .bikeText{
        padding-left: 3rem;
    }

    .bikeImage img{
        width: 100%;
    }

    .profileImage img{
        width: 100%;
    }

    .profile{
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .profileOptionText p{
        font-size: 16px;
    }

    .profileText h5{
        font-size: 24px;
        width: 80%;
    }
    
    .drugText h2{
        font-size: 30px;
    }

    .signupInput{
        width: 45%;
    }

    .serviceSide{
        gap: 3rem;
    }

}



@media screen and (max-width: 768px){
    nav{
        display: none;    
    }
    .btn{
        display: none;
    }

    .heroText h2{
        font-size: 25px;
        font-weight: 700;
    }
    
    .heroText p{
        font-size: 13px;
        font-weight: 400;
    }
    
    .heroText{
        width: 60%;
        margin-top: 6rem;
    }

    
    .heroBtn button{
        padding: .5rem 1rem;

    }

    .heroForm button{
        width: 25%;
    }

    .heroForm input{
        width: 68%;
    }

    .heroImage img{
        width: 115%;
    }

    .heroImage{
        width: 50%;
    }
    

    .medicineText h5{
        font-size: 20px;
        width: 85%;
    }

    .optionText p{
        font-size: 11px;
        font-weight: 500;
        line-height: 26px;
    }

    .medicineImage img {
        width: 100%;
    }

    .medicineText button{
        font-size: 14px;
        font-weight: 400;
        padding: .7rem 1rem;
    
    }

    .bikeText h5{
        font-size: 20px;
        width: 85%;
    }

    .bikeoptionText p{
        font-size: 11px;
        font-weight: 500;
    }

    .bikeImage img{
        width: 100%;
    }

    .bikeText button{
        font-size: 14px;
        font-weight: 400;
        padding: .7rem 1rem;   
    }

    .profileImage img{
        width: 100%;
    }

    .profile{
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .profileOptionText p{
        font-size: 11px;
        font-weight: 500;
    }

    .profileText h5{
        font-size: 20px;
        width: 85%;
    }
    .profileText button{
        font-size: 14px;
        font-weight: 400;
        padding: .7rem 1rem;
    }

    .drugText h2{
        font-size: 23px;
        line-height: 39.1px;
        margin-bottom: .1rem;    
    }
    .drugText p{
        font-size: 12px;
        font-weight: 400;
        width: 100%;
    }

    .drugText h5{
        font-weight: 500;
        font-size: 14px;
    }

    .blue{
        width: 35px;
    }
    
    .green{
        width: 35px;
    }

    .signupText h3{
        font-size: 18px;
        font-weight: 600;
    }

    .signupInput input{
        width: 60%;
    }
    
    .signupInput button{
        width: 40%;
        font-size: 12px;
        padding: .6.2rem;
    }


    .signupInput{
        width: 45%;
    }

    .logoSide p{
        font-size: 14px;
    }

    .serviceSide h4{
        font-size: 14px;

    }

    .serviceSide li{
        font-size: 14px;
    }

    .serviceSide{
        gap: 2rem
    }



}



@media screen and (max-width: 426px) {

    .hero {
      display: block;
      width: 90%;
      margin: auto;
    }
  
    .heroText {
      width: 100%;
      margin-top: 5rem;
    }
  
    .heroImage {
      width: 100%;
      margin-left: 0rem;
    }
  
    .heroBtn button {
      font-size: 16px;
      padding: 0.5rem 1.5rem;
      border-radius: 50px;
      margin-right: 0.5rem;
    }
  
    .heroForm {
      width: 100%;
    }
  
    .heroForm input {
      width: 70%;
      padding: 0.7rem;
    }
  
    .heroForm button {
      width: 25%;
    }
  
    .lines {
    display: flex;
    width: 20%;
    margin: auto;
    }
  
    .blue {
    width: 45.5px;
    }
  
  .green {
    width: 45.5px;
    }
  
  .affiliateImages {
    display: flex;
    gap: 3rem;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    }
  
  .topAffiliate h2 {
      font-size: 30px;
    }
  
    .topBenefits h2 {
      font-size: 30px;
    }
  
    .medicine {
      flex-direction: column;
      margin-top: 2rem;
      align-items: center;
    }
    
    .optionText p {
      font-size: 14px;
      font-weight: 400;
    }
    
    .medicineText h5 {
      font-size: 20px;
      width: 70%;
    }
  
    .bike {
        flex-direction:column-reverse;
        margin-top: 2rem;
        align-items: center;
      }

    .bikeText h5{
        font-size: 20px;
        width: 70%;
    }

    .bikeoptionText p{
        font-size: 14px;
        font-weight: 400;
    }

    .bikeImage img{
      margin-top: 1rem;
      width: 80%;
    }

    .profile{
        flex-direction:column;
        margin-top: 2rem;
        align-items: center;
    }

    .profileOptionText p{
        font-size: 14px;
        font-weight: 400;
    }

    .profileText h5{
        font-size: 20px;
        width: 70%;
    }










    .clients {
      flex-direction: column;
    }
    
    .line {
      display: flex;
      width: 40%;
      margin: auto;
    }
    
    .clientText h2 {
      font-size: 30px;
      line-height: 49.18px;
      margin-bottom: 0.5rem;
    }
    
    .clientText p {
      font-size: 14px;
      width: 90%;
    }
    
    .clientText h5 {
      font-size: 14px;
      padding-bottom: 2rem;
    }
    
    .clientImage img {
      width: 100%;
    }
    
    .clientImage {
      width: 100%;
    }
    
    .clientText {
      width: 100%;
      margin-left: 2rem;
      margin-top: 1rem;
    }


    .signup{
        flex-direction: column;
    }
    .signupText h3{
        font-size: 24px;
        font-weight: 400;
        line-height: 32.78px;
        color: white;
        padding-bottom: 1rem;
    }
    .signupText p{
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 200;
        line-height: 24.59px;
        color: white;

    }
    
    .signupText{
        width: 100%;
    }

    .signupInput{
        width: 100%;
    }

    .footContact{
      flex-direction: column;   
    }

    .serviceSide{
       flex-direction: column;
       align-items: flex-start;
       gap: 1rem;
       margin-top: 2rem;
    
    }

    .logoSide{
        width: 100%;
    }
    .logoSide p{
        width: 100%;;
        font-size: 16px;
    }

    .serviceSide h4{
        font-size: 16px;
        font-weight: 600;
    }

    .serviceSide li{
        font-size: 14px;
    }

    .copyRight{
        font-size: 12px;
    }
  
}